In [2]:
import pymysql
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver  
import re
import urllib

In [3]:


conn = pymysql.connect(host='127.0.0.1',user = 'root', password = 's3438838', db = 'fangwu',charset="utf8")

In [4]:


cursor = conn.cursor()

In [5]:


# 如果数据表已经存在使用 execute() 方法删除表。
cursor.execute("DROP TABLE IF EXISTS shangqiu_58tongcheng")

D:\python\lib\site-packages\pymysql\cursors.py:170: Warning: (1051, "Unknown table 'fangwu.shangqiu_58tongcheng'")
  result = self._query(query)

0

In [6]:


# 创建数据表SQL语句
sql = """CREATE TABLE shangqiu_58tongcheng (
         houseid  CHAR(200) not null unique,
         housename  text,
         houseprice text,  
         housearea text,
         houselink text )"""

sql1 = """CREATE TABLE IF NOT EXISTS test2(
                serial_number text, movie_name text,
                star text,     introduce text,
                evaluate text, describe text)
                 """

sql2 = """select * from """

In [11]:

cursor.execute(sql1)
#conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'describe text)' at line 4")

In [7]:
# SQL 插入语句
sql = """INSERT INTO shangqiu_58tongcheng(houseid,housename,houseprice,housearea,houselink)
         VALUES ('%s','%s','%s','%s','%s')"""%(item['houseid'], item['housename'], item['houseprice'],item['housearea'],item['houselink'])
sql

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 42))

NameError: name 'item' is not defined

In [107]:
cursor.execute(sql)
conn.commit()

In [109]:
item = {
    'houseid':'1000002',
    'housename':'房屋名字',
    'houseprice':'房屋价格',
    'housearea':'房屋面积',
    'houselink':'房屋链接'
}
#item = pd.DataFrame.from_dict(item,orient='index').T
item

{'housearea': '房屋面积',
 'houseid': '1000002',
 'houselink': '房屋链接',
 'housename': '房屋名字',
 'houseprice': '房屋价格'}

In [95]:
item['houselink']
item['housename']
item['houseid'], item['housename'], item['houseprice'],item['housearea'],item['houselink']

('100002', '房屋名字', '房屋价格', '房屋面积', '房屋链接')

In [110]:
def savetosql(item):
    sql = """INSERT INTO shangqiu_58tongcheng(houseid,housename,houseprice,housearea,houselink)
         VALUES ('%s','%s','%s','%s','%s')"""%(item['houseid'], item['housename'], item['houseprice'],item['housearea'],item['houselink'])
    cursor.execute(sql)
    conn.commit()

In [111]:
savetosql(item)