In [1]:
import pymysql
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver  
import re
import urllib

In [2]:
conn = pymysql.connect(host='127.0.0.1',user = 'root', password = 's3438838', db = 'fangwu',charset="utf8")

In [87]:
cursor = conn.cursor()

In [88]:
# 如果数据表已经存在使用 execute() 方法删除表。
cursor.execute("DROP TABLE IF EXISTS shangqiu_58tongcheng")

0

In [89]:
# 创建数据表SQL语句
sql = """CREATE TABLE shangqiu_58tongcheng (
         houseid  CHAR(200) not null unique,
         housename  text,
         houseprice text,  
         housearea text,
         houselink text )"""

In [90]:
cursor.execute(sql)
#conn.close()

0

In [106]:
# SQL 插入语句
sql = """INSERT INTO shangqiu_58tongcheng(houseid,housename,houseprice,housearea,houselink)
         VALUES ('%s','%s','%s','%s','%s')"""%(item['houseid'], item['housename'], item['houseprice'],item['housearea'],item['houselink'])
sql

"INSERT INTO shangqiu_58tongcheng(houseid,housename,houseprice,housearea,houselink)\n         VALUES ('100002','房屋名字','房屋价格','房屋面积','房屋链接')"

In [107]:
cursor.execute(sql)
conn.commit()

In [109]:
item = {
    'houseid':'1000002',
    'housename':'房屋名字',
    'houseprice':'房屋价格',
    'housearea':'房屋面积',
    'houselink':'房屋链接'
}
#item = pd.DataFrame.from_dict(item,orient='index').T
item

{'housearea': '房屋面积',
 'houseid': '1000002',
 'houselink': '房屋链接',
 'housename': '房屋名字',
 'houseprice': '房屋价格'}

In [95]:
item['houselink']
item['housename']
item['houseid'], item['housename'], item['houseprice'],item['housearea'],item['houselink']

('100002', '房屋名字', '房屋价格', '房屋面积', '房屋链接')

In [110]:
def savetosql(item):
    sql = """INSERT INTO shangqiu_58tongcheng(houseid,housename,houseprice,housearea,houselink)
         VALUES ('%s','%s','%s','%s','%s')"""%(item['houseid'], item['housename'], item['houseprice'],item['housearea'],item['houselink'])
    cursor.execute(sql)
    conn.commit()

In [111]:
savetosql(item)